WebSiteApplication/Service References/AdminAuthServiceReference/AdminAuthService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TranslationWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TranslationWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperatorModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="OperatorId" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatorModel" nillable="true" type="tns:OperatorModel" />
</xs:schema>