WebSiteApplication/Service References/LangManagmentServiceReference/LanguageManagmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TranslationWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TranslationWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LanguageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageId" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageLCID" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageModel" nillable="true" type="tns:LanguageModel" />
  <xs:complexType name="ArrayOfLanguageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageModel" nillable="true" type="tns:LanguageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageModel" nillable="true" type="tns:ArrayOfLanguageModel" />
</xs:schema>