WebSiteApplication/Service References/FormManagementServiceReference/FormManagmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61247/FormManagmentService.svc?xsd=xsd2" namespace="www.zab.com" />
  <xs:import schemaLocation="http://localhost:61247/FormManagmentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TranslationWebServices" />
  <xs:element name="ListForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="www.zab.com" minOccurs="0" name="ListFormsResult" nillable="true" type="q1:ArrayOfFormModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFormsName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFormsNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListFormsNameResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="www.zab.com" minOccurs="0" name="formModel" nillable="true" type="q2:FormModel" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TranslationWebServices" minOccurs="0" name="applicationModel" nillable="true" type="q3:ApplicationModel" />
        <xs:element minOccurs="0" name="updatedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewFormResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="www.zab.com" minOccurs="0" name="RetrieveFormResult" nillable="true" type="q4:FormModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formId" type="xs:int" />
        <xs:element xmlns:q5="www.zab.com" minOccurs="0" name="formModel" nillable="true" type="q5:FormModel" />
        <xs:element minOccurs="0" name="updateBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFormResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFormResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>