WebSiteApplication/Service References/FormManagementServiceReference/FormManagmentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.zab.com" elementFormDefault="qualified" targetNamespace="www.zab.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFormModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormModel" nillable="true" type="tns:FormModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormModel" nillable="true" type="tns:ArrayOfFormModel" />
  <xs:complexType name="FormModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormId" type="xs:int" />
      <xs:element minOccurs="0" name="FormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormCategory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormModel" nillable="true" type="tns:FormModel" />
</xs:schema>